@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
/* header */
.header{
    width: 100%;
    height: 60px;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,.25);
}
.container-cart{
    position: relative;
    display: flex;
    flex-flow: column;
}
.icon{
    font-size: 2.5rem;
    cursor: pointer;
}
.contador{
    position: absolute;
    top: 55%;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vmax;
}
.container-cart-products{
    position: absolute;
    padding: 0 .5rem;
    width: 500px;
    top: 65px;
    right: 0;
    background-color: white;
    border-radius: 1rem;
    gap: .2rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.25);
    z-index: 11;
}
.cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-product i:hover{
    color: red;
    cursor:pointer;
}
.total-price-products{
    padding: .5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.cart-empty{
    display: block;
    text-align: center;
    padding: .5rem 0;
}

/* main */
.main{
    background-color: azure;
    padding-top: 2rem;
}
.container-items{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.item{
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 2rem rgba(0,0,0,.25);
    border-radius: 1rem;
    overflow: hidden;
}
.item figure{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.item img{
    width: 100%;
    height: 300px;
    transition: all .5s;
}
.item:hover img{
    transform: scale(1.2);
}
.info-item{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: .8rem;
    gap: .2rem;
}
.nombre-item{
    font-size: 1.3rem;
    text-align: center;
}
.price-item{
    flex: 1;
    font-size: 1.5rem;
    text-align: center;
}
.btn-add-cart{
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
}
.btn-add-cart:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}